@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-white-secondry: #f9f9f9;
  --color-yellow: #f5b748;
  --color-red: #ec5e6f;
  --color-blue: #62b4f9;
  --color-green: #76e2b3;
  --color-purple: #915dd1;
}

* {
  margin: 0px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}
